.shop-table .product-thumbnail {
    width: 11rem;
    padding-right: 1rem;
}

.shop-table td {
    padding: 2rem 0 2rem 0;
    border-top: 1px solid #eee;
    font-size: 1.4rem;
}

.shop-table .btn-close {
    position: absolute;
    padding: 0;
    background: #fff;
    border: 2px solid #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 40%);
    top: -14px;
    right: -8px;
}

.shop-table th {
    padding: 1.7rem 0 1.3rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
    text-transform: capitalize;
    line-height: 1.6;
    letter-spacing: 0;
}

.cart .cart-summary {
    padding: 2.3rem 3rem 3rem 3rem;
    border: 1px solid #eee;
    border-radius: 4px;
    line-height: 1;
}

.cart-subtotal {
    line-height: 1;
    font-size: 1.6rem;
    color: #333;
    font-weight: 600;
    padding-bottom: 0.8rem;
}

.shipping-methods .custom-radio {
    line-height: 2.7;
}

.shipping-calculator-form .form-group {
    margin-bottom: 1.5rem;
}

.justify-content-between {
    justify-content: space-between !important;
}

element.style {
}

.select-box, .select-menu {
    position: relative;
}

*, ::after, ::before {
    box-sizing: inherit;
}

user agent stylesheet
div {
    display: block;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: Poppins, sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #666;
    background: #fff;
}

html {
    font-size: 62.5%;
    font-size-adjust: 100%;
    font-weight: 400;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.cart .select-box::before {
    font-size: 1.1rem;
    color: #333;
    right: 1rem;
}

.select-box::before, .select-menu::before {
    content: '\e910';
    font-family: 'Wolmart';
    font-size: 9px;
    font-weight: 600;
    line-height: 1;
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
}

.shipping-calculator-form .form-group .form-control {
    padding-left: 1rem;
    font-size: 1.4rem;
    color: #666;
    border-color: #eee;
}

.cart .form-control {
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
}

.btn.btn-rounded {
    border-radius: 3px;
}

.btn-dark.btn-outline {
    color: #333;
    border-color: #333;
    background-color: transparent;
}

.cart .order-total {
    color: #333;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: -.025em;
    margin-bottom: 2.5rem;
}

.align-items-center {
    align-items: center !important;
}

.shop-table.cart-table .product-quantity {
    width: 25.7%;
}

.shop-table tbody td:not(:first-child), .shop-table thead th:not(:first-child) {
    padding-left: 1rem;
}

.shop-table td {
    padding: 2rem 0 2rem 0;
    border-top: 1px solid #eee;
    font-size: 1.4rem;
}

.shop-table.cart-table td.product-subtotal {
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
    letter-spacing: -.05em;
}

.shop-table.cart-table .product-subtotal {
    width: 16%;
}

.shop-table tbody td:not(:first-child), .shop-table thead th:not(:first-child) {
    padding-left: 1rem;
}

.shop-table td {
    padding: 2rem 0 2rem 0;
    border-top: 1px solid #eee;
    font-size: 1.4rem;
}

.shop-table.cart-table td.product-subtotal {
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
    letter-spacing: -.05em;
}

.cart .form-control {
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
}

.input-group .form-control {
    flex: 1;
    font-size: 1.3rem;
    padding: 0 1.4rem 0 1.8rem;
    height: inherit;
    min-height: auto;
    max-width: 100%;
    -webkit-appearance: textfield;
    border: solid #ccc;
    border-width: 1px;
    color: #666;
}

.form-control {
    display: block;
    width: 100%;
    min-height: 4.7rem;
    padding: 0.85rem 2rem;
    border: 1px solid #eee;
    font-size: 1.4rem;
    font-family: Poppins, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #999;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
}

.input-group button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5rem;
    padding: 0;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background-color: #eee;
    color: #666;
    font-size: 1.4rem;
    border: none;
}

.cart .form-control {
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
}

.input-group .form-control {
    flex: 1;
    font-size: 1.3rem;
    padding: 0 1.4rem 0 1.8rem;
    height: inherit;
    min-height: auto;
    max-width: 100%;
    -webkit-appearance: textfield;
    border: solid #ccc;
    border-width: 1px;
    color: #666;
}

.input-group button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5rem;
    padding: 0;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background-color: #eee;
    color: #666;
    font-size: 1.4rem;
    border: none;
}

@media (max-width: 767px) {
    .shop-table:not(.account-orders-table) tbody td:not(:first-child), .shop-table:not(.account-orders-table) thead th:not(:first-child) {
        padding-left: 0;
    }

    .shop-table:not(.account-orders-table) td.product-thumbnail, .shop-table:not(.account-orders-table) .product-quantity {
        margin-bottom: 1rem;
        width: auto;
    }

    .cart-table.shop-table .product-quantity {
        width: auto;
    }

    .shop-table.cart-table .product-quantity {
        width: 35%;
    }

    .shop-table tbody td:not(:first-child), .shop-table thead th:not(:first-child) {
        padding-left: 1rem;
    }

    .shop-table:not(.account-orders-table) .product-thumbnail > div, .shop-table:not(.account-orders-table) td {
        margin-left: auto;
        margin-right: auto;
    }

    .shop-table .btn-close {
        width: 25px;
        height: 25px;
    }

    table thead {
        display: none;
    }

    .product-name {
        justify-content: center!important;
        display: flex!important;
    }

    .product-price {
        justify-content: center!important;
        display: flex!important;
    }

    .shop-table:not(.account-orders-table) td {
        padding: 0;
        border: none;
    }

    .shop-table:not(.account-orders-table) tbody, .shop-table:not(.account-orders-table) tr, .shop-table:not(.account-orders-table) td {
        display: block;
    }

    .shop-table:not(.account-orders-table) tr {
        position: relative;
        padding: 4.2rem 2rem 4rem;
    }

    .shop-table:not(.account-orders-table) tbody, .shop-table:not(.account-orders-table) tr, .shop-table:not(.account-orders-table) td {
        display: block;
    }

}
